extends ../layout

block title 
	title NoWindCity -- Каталог

block menu
	nav.menu
		+menu({'index':'Главная', 'catalog':'Каталог', 'contact':'Контакты'}, 'Каталог')

block main
	div.content
		aside.aside
		article.maininfo
			h1.mainhead Каталог парусов GAASTRA
			+catalog({'product01':'MATRIX','product02':'VAPOR','product03':'MANIC'})




	

	