extends ../layout

block title 
	title Главная страница

block menu
	nav.menu
		+menu({'index':'Главная', 'catalog':'Каталог', 'contact':'Контакты'}, 'Главная')

block main
	.content.main.
		 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore minima fuga, obcaecati accusamus. Magnam modi nisi dolorem, quisquam vitae possimus distinctio dolore repellendus, odit a nihil velit ad rem quam at maiores quas? Molestias at maxime, veniam sit iste esse cumque illum voluptatibus incidunt asperiores temporibus, id modi! Laborum quasi, rem ut debitis recusandae officiis dignissimos expedita? Natus culpa alias aspernatur unde sequi rem expedita id amet consequuntur, quam nobis. Eius tempora corrupti, explicabo repellat animi id cumque exercitationem? Eius amet, nihil. Temporibus iste inventore consequuntur asperiores, maiores enim alias at quisquam, atque aliquid earum a vero, eaque excepturi.
