extends ../layout

block title 
	title NoWindCity -- Главная

block menu
	nav.menu
		+menu({'index':'Главная', 'catalog':'Каталог', 'contact':'Контакты'}, 'Главная')

block main
	div.content
		aside.aside
		article.maininfo
			h1.welcomeHead Рады приветствовать Вас в нашем магазине.
			div.welcomeLogo-partners
			p.welcomeText Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores consectetur ab vero, ducimus libero adipisci eveniet facilis. Id sapiente, perspiciatis laboriosam cumque laborum odio alias quasi labore esse repellat distinctio quam expedita assumenda nemo autem animi temporibus deserunt. Quidem pariatur delectus omnis unde maiores enim vitae blanditiis voluptatem, corporis tempora voluptate eius suscipit, autem reprehenderit, mollitia molestias rem dolorem culpa dolores aspernatur ea, eaque nulla assumenda? Ratione rerum nulla aperiam quisquam voluptates optio. Autem laboriosam harum repellat iusto odio quisquam illo repudiandae perferendis provident ab doloremque voluptatem, qui ratione minus doloribus aliquam porro. Odit cumque, tempora saepe qui est, animi.




	

	