extends ../layout

block title 
	title Паруса GAASTRA

block menu
	nav.menu
		.content
			+menu({'index':'Главная', 'catalog':'Каталог', 'contact':'Контакты'}, '')

block main
	div.content
		aside.aside
		article.maininfo
			div.goods
				h1.goods__mainHead Парус Matrix
				a.goods__link(href='images/product01-MATRIX.png' target='_blank')
					img.goods__img(src='images/product01-MATRIX-trumb.png' alt='Это фото паруса Matrix' title='Это фото паруса Matrix')
				
				h2.goods__head Описание товара
				div.goods__textAboutShot
					p.goods__text
					| For 2017 the MANIC was carefully designed for absolute performance in&nbsp;all windsurfing conditions. Whether enjoying your local break or&nbsp;getting ready for your next intrepid journey, everyone knows the conditions are never the same twice and that&#180;s&nbsp;why the MANIC was born.
				
				h2.goods__head Характеристики товара
				+specific({'Площадь паруса':'5, 7.8, 9.4, 10, 11, 12', 'Количество лат': '5-7', 'Мачта' : '370-430', 'Вес' : '3.2-4.0'})

				h2.goods__head Подробное описание товара
				div.goods__textAboutLong
					p.goods__text
					| For 2017 the MANIC was carefully designed for absolute performance in&nbsp;all windsurfing conditions. Whether enjoying your local break or&nbsp;getting ready for your next intrepid journey, everyone knows the conditions are never the same twice and that&#180;s&nbsp;why the MANIC was born. Used by&nbsp;many of&nbsp;our team riders while traveling and competing across the globe this proven design will not disappoint.
					p.goods__text
					| The MANIC will keep you equally happy blasting around your local beach as&nbsp;well as&nbsp;attacking the long walls of&nbsp;the best breaks on&nbsp;earth. The 2017 Manic offers the perfect balance between power and top end control. 
					p.goods__text
					| A&nbsp;longer foot outline, combined with more shape in&nbsp;the top of&nbsp;the sail result in&nbsp;unrivaled control and even more radical maneuverability than ever before. A&nbsp;new Constant Curve luff and improved outlines gifts the MANIC with the best wind range in&nbsp;our wave line up. For real world conditions and sailors who want to&nbsp;maximize their time on&nbsp;the water, the 2017 MANIC will get you planing early and keep you comfortable when the rest are rigging down.


	

	