header.header
	.content
		div.logo
			a.logo__link(href='/index.html')
				img.logo__img(src='images/logo-nowindcity.svg' alt='логотип nowindcity' title='логотип nowindcity')
				div.logo__text Логотип NoWindCity
		block menu
			include menu